<template>
  <label>
    <input :disabled="disabled" type="text" v-model="checkbox"/>
    <!-- Default slot -->
    <slot></slot>
  </label>
</template>

<script>
/**
 * A simple checkbox component
 *
 * @contributor Sébastien
 */
export default {
  name: 'checkbox',
  model: {
    prop: 'model',
  },
  props: {
    /**
     * The checkbox model
     */
    model: {
      type: Array,
      required: true,
      twoWay: true
    },
  },

  data () {
    return {
      initialValue: null
    }
  },

  computed: {
    id () {
      return `checkbox-${this.initialValue}`
    }
  },

  created () {
    /**
     * Emit when the component has been loaded
     */
    this.$emit('loaded')
  },

  methods: {
    /**
     * Check the checkbox
     */
    check () {},
  }
}
</script>
